<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CHUB - Backstage</title>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.css">
	<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js"></script>
	<script src="/public/js/swiper.min.js"></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js'></script>
	<script src="/public/js/backEnd_main.js"></script>
</head>
<body>
	<div id="main">
		<div id="sidebar">
			<div class="ui secondary vertical pointing menu">
			  <a class="item active" name="project_list">
			    專案管理</a>
			  <a class="item" name="ad_list">
			  	廣告管理</a>
			  <a class="item" name="people_list">
			    人員管理</a>
			</div>
		</div>
		<!-- project list -->
		<div class="function_main" id="backend_project_list" name="project_list" style="display:">
			<div class="function_header">
				<h1>專案列表</h1>
				<i class="big plus icon" name="project" @click="add_project"></i>
			</div>
			<div class=function_content>
				<table class="ui selectable celled table">
				  <thead>
				    <tr>
				      <th>Project Name</th>
				      <th>Duration</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr v-for="item in projects" @click="show_project(item.id)">
				    	<td>{{item.name}}</td>
				    	<td>{{item.duration}}</td>
				    </tr>
				  </tbody>
				</table>
			</div>
		</div>
		<!-- project -->
		<div class="function_main" id="backend_project" name="project" style="display: none;">
			<div class="function_header">
				<h1>專案內容</h1>
				<button v-if='id == ""' class="ui button" style="margin-left: 50px;" @click="add_project">
				  Create
				</button>
				<div v-else>
					<button class="ui button" style="margin-left: 50px;" @click="update_project(id)">
					  Save
					</button>
					<button class="ui button" style="margin-left: 50px;" @click="delete_project(id)">
					  Delete
					</button>
				</div>
			</div>
			<div class=function_content>
				<div class="ui top attached tabular menu">
				  <a class="item active" data-tab="Info">Info</a>
				  <a class="item" data-tab="Banner">Banner</a>
				  <a class="item" data-tab="Video">Video</a>
				  <a class="item" data-tab="Image">Image</a>
				  <!-- <a class="item active" data-tab="Gallery">Gallery</a> -->
				</div>
				<div class="ui bottom attached tab segment active" data-tab="Info">
					<div class="ui form">
					  <div class="inline fields">
					    <div class="eight wide field">
					      <label>Name:</label>
					      <input type="text" placeholder="" v-model.lazy="name">
					    </div>
					  </div>
					  <div class="inline fields">
					    <div class="eight wide field">
					      <label>Subtitle:</label>
					      <input type="text" placeholder="" v-model.lazy="subtitle">
					    </div>
					  </div>
					  <div class="inline fields">
					    <div class="eight wide field">
					      <label>Duration:</label>
					      <input type="text" placeholder="" v-model.lazy="duration">
					    </div>
					  </div>
					  <div class="field">
					    <label>Mission:</label>
					    <textarea rows="2" v-model.lazy="mission"></textarea>
					  </div>
					  <div class="field">
					    <label>Introduction:</label>
					    <textarea v-model.lazy="introduction"></textarea>
					  </div>
					</div>
				</div>
				<div class="ui bottom attached tab segment" data-tab="Banner">
				  crop function
				</div>
				<div class="ui bottom attached tab segment" data-tab="Video">
					<iframe width="420" height="315"
					src="https://www.youtube.com/embed/1B9rLGfc9Vo">
					</iframe>
				</div>
				<div class="ui bottom attached tab segment" data-tab="Image">
					<div class="ui three column grid">
					  <div class="column">
					    <div class="ui fluid card">
					      <div class="image">
					        <img src="public/img/ex_handsome_boy.png">
					      </div>
					      <div class="content">
					        <a class="header">Daniel Louise</a>
					      </div>
					    </div>
					  </div>
					  <div class="column">
					    <div class="ui fluid card">
					      <div class="image">
					        <img src="public/img/ex_handsome_boy.png">
					      </div>
					      <div class="content">
					        <a class="header">Helen Troy</a>
					      </div>
					    </div>
					  </div>
					  <div class="column">
					    <div class="ui fluid card">
					      <div class="image">
					        <img src="public/img/ex_handsome_boy.png">
					      </div>
					      <div class="content">
					        <a class="header">Elliot Fu</a>
					      </div>
					    </div>
					  </div>
					</div>
				</div>
				<div class="ui bottom attached tab segment" data-tab="Gallery">
				  test
				</div>
			</div>
		</div>

		<!-- advirtisement list -->
		<div class="function_main" id="backend_ad_list" name="ad_list" style="display: none;">
			<div class="function_header">
				<h1>廣告列表</h1>
				<i class="big plus icon" name="ad"></i>
			</div>
			<div class=function_content>
				<table class="ui selectable celled table">
				  <thead>
				    <tr>
				      <th>Order</th>
				      <th>Name</th>
				      <th>show</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <td>1</td>
				      <td>picture_1</td>
				      <td><i class="large green checkmark icon"></i></td>
				    </tr>
				    <tr>
				      <td>2</td>
				      <td>picture_2</td>
				      <td></td>
				    </tr>
				    <tr>
				      <td>3</td>
				      <td>picture_3</td>
				      <td><i class="large green checkmark icon"></i></td>
				    </tr>
				  </tbody>
				</table>
			</div>
		</div>

		<!-- people list -->
		<div class="function_main" id="backend_people_list" name="people_list" style="display:none;">
			<div class="function_header">
				<h1>人員列表</h1>
				<i class="big plus icon" name="people"></i>
			</div>
			<div class=function_content>
				<table class="ui selectable celled table">
				  <thead>
				    <tr>
				      <th>Name</th>
				      <th>Position</th>
				      <th>E-mail</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr>
				      <td>John</td>
				      <td>Project Manager</td>
				      <td>XXXXX@gmail.com</td>
				    </tr>
				    <tr>
				      <td>Sam</td>
				      <td>editor</td>
				      <td>XXXXX@gmail.com</td>
				    </tr>
				  </tbody>
				</table>
			</div>
		</div>
	</div>

</body>

<style type="text/css">
	#main{
		display: flex;
		flex-direction: row;
		height: 100%;
	}

	#sidebar{
		background-color: grey;
		padding-top: 3%;
	}

	.function_main{
		padding: 3%;
		width: 100%;
	}

	.function_header{
		display: flex;
	}

	.function_header i{
		margin-left: 10px;
	}
</style>

</html>



