<div id="backend_project" style="width:100%;" v-show="show.total">
    <!-- project list -->
    <div class="function_main" v-show="show.list">
        <div class="function_header">
            <h1>專案列表</h1>
            <i class="big plus icon" name="project" @click="showForm"></i>
        </div>
        <div class=function_content>
            <table class="ui selectable celled table">
                <thead>
                    <tr>
                        <th>Project Name</th>
                        <th>Duration</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(project, index) in projects" @click="showProject(project.id, index)">
                        <td>{{ project.name }}</td>
                        <td>{{ project.duration }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- project -->
    <div class="function_main" v-show="show.form">
        <div class="function_header">
            <h1>專案內容</h1>
            <button v-if='project.id == ""' class="ui button" style="margin-left: 25px;" @click="createProject">
                Create
            </button>
            <template v-else>
                <button class="ui button" style="margin-left: 20px;" @click="updateProject(project.id)">
                    Save
                </button>
                <button class="ui button" style="margin-left: 20px;" @click="deleteProject(project.id)">
                    Delete
                </button>
            </template>
            <button class="ui button" style="margin-left: 20px;" @click="showList">
                Back
            </button>
        </div>
        <div class=function_content>
            <div class="ui top attached tabular menu">
                <a class="item active" data-tab="project_Info">Info</a>
                <!-- <a class="item" data-tab="project_Banner">Banner</a> -->
                <a class="item" data-tab="project_Video">Video</a>
                <a class="item" data-tab="project_Cover">Cover</a>
                <a class="item" data-tab="project_Cover_Preview">Cover Preview</a>
                <a class="item" data-tab="project_Gallery">Gallery</a>
                <a class="item" data-tab="project_Gallery_Preview">Gallery Preview</a>
            </div>
            <div class="ui bottom attached tab segment active" data-tab="project_Info">
                <div class="ui form">
                    <div class="inline fields">
                        <div class="eight wide field">
                            <label>Name:</label>
                            <input type="text" placeholder="" v-model.lazy="project.name">
                        </div>
                    </div>
                    <div class="inline fields">
                        <div class="eight wide field">
                            <label>Subtitle:</label>
                            <input type="text" placeholder="" v-model.lazy="project.subtitle">
                        </div>
                    </div>
                    <div class="inline fields">
                        <div class="eight wide field">
                            <label>Duration:</label>
                            <input type="text" placeholder="" v-model.lazy="project.duration">
                        </div>
                    </div>
                    <div class="field">
                        <label>Introduction:</label>
                        <textarea v-model.lazy="project.introduction"></textarea>
                    </div>
                </div>
            </div>
            <div class="ui bottom attached tab segment" data-tab="project_Banner">
                <form class="ui form" id="projectBannerForm">
                    <div class="field">
                        <label>Banner</label>
                        <input type="file" name="banner" id="banner">
                    </div>
                </form>
                <br>
                <img width="100%" v-if="project.banner" v-on:click="deleteBanner(project.id)" v-bind:src="'/uploads/project/' + project.id + '/banner.png?' + new Date().getTime()">
            </div>
            <div class="ui bottom attached tab segment" data-tab="project_Video" style="height: 100vh">
                <div class="ui form">
                    <div class="inline field">
                        <label>Video url:</label>
                        <input type="text" v-model.lazy="project.url">
                        <button class="ui button" style="margin-left: 10px" @click="parseURL"> 上傳 </button>
                    </div>
                </div>
                <br><br>
                <iframe style="position:absolute;top:0;left:0;width:80%;height:80%; margin: 10%" v-bind:src="project.url">
                </iframe>
            </div>
            <div class="ui bottom attached tab segment" data-tab="project_Cover">
                <div class="ui three column grid">
                    <div class="column">
                        <form class="ui form" id="projectCoverForm">
                            <div class="field">
                                <label>Cover</label>
                                <input type="file" name="image" id="cover" @change="onFileChange">
                            </div>
                        </form>
                    </div>
                    <template v-if="project.images && project.images.length > 0">
                        <div class="column" v-for="image in project.images" v-if="image.type == 'cover'">
							<div v-if="project.url" class="ui fluid card">
								<img style="max-width: 100%" :src="project.url" />
							</div>
                            <div v-if="!project.url" class="ui fluid card">
                                <div class="image">
                                    <img style="max-width: 100%" v-on:click="deleteImage(image.id)" v-bind:src="'/uploads/project/' + project.id + '/' + image.type + '/' + image.name + '?' + new Date().getTime()">
                                </div>
                            </div>
                        </div>
                    </template>
                </div>
            </div>
            <div class="ui bottom attached tab segment" data-tab="project_Cover_Preview">
                <div class="ui three column grid">
                    <div class="column">
                        <form class="ui form" id="projectCoverPreviewForm">
                            <div class="field">
                                <label>Cover Preview</label>
                                <input type="file" name="image" id="coverPreview">
                            </div>
                        </form>
                    </div>
                    <template v-if="project.images && project.images.length > 0">
                        <div class="column" v-for="image in project.images" v-if="image.type == 'coverpreview'">
                            <div class="ui fluid card">
                                <div class="image">
                                    <img v-on:click="deleteImage(image.id)" v-bind:src="'/uploads/project/' + project.id + '/' + image.type + '/' + image.name + '?' + new Date().getTime()">
                                </div>
                            </div>
                        </div>
                    </template>
                </div>
            </div>
            <div class="ui bottom attached tab segment" data-tab="project_Gallery">
                <div class="ui three column grid">
                    <div class="column">
                        <form class="ui form" id="projectGalleryForm">
                            <div class="field">
                                <label>Gallery</label>
                                <input type="file" name="image" id="gallery">
                            </div>
                        </form>
                    </div>
                    <template v-if="project.images && project.images.length > 0">
                        <div class="column" v-for="image in project.images" v-if="image.type == 'gallery'">
                            <div class="ui fluid card">
                                <div class="image">
                                    <img v-on:click="deleteImage(image.id)" v-bind:src="'/uploads/project/' + project.id + '/' + image.type + '/' + image.name + '?' + new Date().getTime()">
                                </div>
                            </div>
                        </div>
                    </template>
                </div>
            </div>
            <div class="ui bottom attached tab segment" data-tab="project_Gallery_Preview">
                <div class="ui three column grid">
                    <div class="column">
                        <form class="ui form" id="projectGalleryPreviewForm">
                            <div class="field">
                                <label>Gallery Preview</label>
                                <input type="file" name="image" id="galleryPreview">
                            </div>
                        </form>
                    </div>
                    <template v-if="project.images && project.images.length > 0">
                        <div class="column" v-for="image in project.images" v-if="image.type == 'gallerypreview'">
                            <div class="ui fluid card">
                                <div class="image">
                                    <img v-on:click="deleteImage(image.id)" v-bind:src="'/uploads/project/' + project.id + '/' + image.type + '/' + image.name + '?' + new Date().getTime()">
                                </div>
                            </div>
                        </div>
                    </template>
                </div>
            </div>
        </div>
    </div>
</div>