<div id="backend_ad" style="width:100%;" v-show="show.total">
    <div class="function_main">
        <div class="function_header">
            <h1>廣告列表</h1>
            <i class="big plus icon"></i>
        </div>
        <div class=function_content>
            <table class="ui selectable celled table">
                <thead>
                <tr>
                    <th>Order</th>
                    <th>Name</th>
                    <th>show</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>picture_1</td>
                    <td><i class="large green checkmark icon"></i></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>picture_2</td>
                    <td></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>picture_3</td>
                    <td><i class="large green checkmark icon"></i></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>