<div id="backend_ad" style="width:100%;" v-show="show.total">
		<!-- advertisement list -->
    <div class="function_main" v-show="show.list">
        <div class="function_header">
            <h1>新聞列表</h1>
            <i class="big plus icon" @click="showForm"></i>
        </div>
        <div class=function_content>
            <table class="ui selectable celled table">
                <thead>
                <tr>
                    <th>Name</th>
                    <!-- <th>Status</th> -->
                </tr>
                </thead>
                <tbody>
                  <tr v-for="(ad, index) in adList" @click="showItem(index)">
                      <td>{{ ad.name }}</td>
                      <!-- <td v-if="ad.show == 1"><button class="positive ui button" @click="changeStatus(ad.id)">已上架</button></td>
                      <td v-else><button class="negative ui button" @click="changeStatus(ad.id)">已下架</button></td> -->
                  </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- advertisement -->
    <div class="function_main" v-show="show.form">
        <div class="function_header">
            <h1>廣告內容</h1>
            <button v-if='ad.id == ""' class="ui button" style="margin-left: 25px;" @click="createItem">
                Create
            </button>
            <template v-else>
                <button class="ui button" style="margin-left: 20px;" @click="updateItem(ad.id)">
                    Save
                </button>
                <button class="ui button" style="margin-left: 20px;" @click="deleteItem(ad.id)">
                    Delete
                </button>
            </template>
            <button class="ui button" style="margin-left: 20px;" @click="showList">
                Back
            </button>
        </div>
        <div class=function_content>
            <div class="ui top attached tabular menu">
                <a class="item active" data-tab="ad_Info">Info</a>
                <a class="item" data-tab="ad_Image">Image</a>
                <a class="item" data-tab="ad_Image_mobile">Mobile Image</a>
            </div>
            <div class="ui bottom attached tab segment active" data-tab="ad_Info">
                <div class="ui form">
                    <div class="inline fields">
                        <div class="eight wide field">
                            <label>Name:</label>
                            <input type="text" placeholder="" v-model.lazy="ad.name">
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui bottom attached tab segment" data-tab="ad_Image">
                <form class="ui form" id="adImageForm">
                    <div class="field">
                        <label>image</label>
                        <input type="file" name="image" id="ad_image" @change="onFileChange">
                    </div>
                </form>
                <br>
                <img width="100%" v-if="url == '' && ad.id != ''" v-bind:src="'/uploads/advertisement/' + ad.id + '/image.png?' + new Date().getTime()">
				<img width="100%" v-if="url != ''" v-bind:src="url">
            </div>
            <div class="ui bottom attached tab segment" data-tab="ad_Image_mobile">
                <form class="ui form" id="adImageMobileForm">
                    <div class="field">
                        <label>Mobile Image</label>
                        <input type="file" name="imageMobile" id="ad_image_mobile" @change="onMobileFileChange">
                    </div>
                </form>
                <br>
                <img width="100%" v-if="mobileUrl == '' && ad.id != ''" v-bind:src="'/uploads/advertisement/' + ad.id + '/imageMobile.png?' + new Date().getTime()">
				<img width="100%" v-if="!mobileUrl == ''" v-bind:src="mobileUrl">
            </div>
        </div>
    </div>
</div>