<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport" name="viewport">
	<title>C-Hub｜成大創意基地</title>
	<link rel="stylesheet" href="/public/css/reset.css">
	<link rel="stylesheet" href="/public/css/style.css">
	<link rel="stylesheet" href="/public/css/swiper.min.css">
	<link rel="stylesheet" href="/public/css/photoswipe.css"> 
	<link rel="stylesheet" href="/public/css/photoswipe-default-skin.css"> 
	<link rel="stylesheet" href="/public/css/aos.css">
</head>

<body>
	<style type="text/css">
		body::-webkit-scrollbar { 
		    display: none; 
		}
	</style>
	<script type="text/javascript">
	function myBrowser() {
	    var userAgent = navigator.userAgent; //取得浏览器的userAgent字符串
	    var isOpera = userAgent.indexOf("Opera") > -1;
	    if (isOpera) {
	        return "Opera"
	    }; //判断是否Opera浏览器
	    if (userAgent.indexOf("Firefox") > -1) {
	        return "FF";
	    } //判断是否Firefox浏览器
	    if (userAgent.indexOf("Chrome") > -1){
	  		return "Chrome";
	 	}
	    if (userAgent.indexOf("Safari") > -1) {
	        return "Safari";
	    } //判断是否Safari浏览器
	    if (userAgent.indexOf("compatible") > -1 && userAgent.indexOf("MSIE") > -1 && !isOpera) {
	        return "IE";
	    }; //判断是否IE浏览器
	}
	//先設定只有chrome, safari才可以看到
	var mb = myBrowser();
	console.log(mb);
	if (mb === undefined) {
		location.href = "http://c-hub.ncku.edu.tw/space"
	}
	if ("Chrome" == !mb && "Safari" == !mb) {
		location.href = "http://c-hub.ncku.edu.tw/space"
	}
	</script>
	<!-- Icons -->
	<div class="icon_menu clickable switch_menu"></div>
	<div class="icon_logo now clickable"></div>

	<!-- Menu -->
	<div class="menu" id="menu">
		<div class="menu_cont">
			<div class="menu_cont_title clickable_color on" @click="closeAllProject()" onclick="window.location.hash='home'; ">Home</div>
			<div class="menu_cont_title clickable_color" @click="closeAllProject()"  onclick="window.location.hash='intro'; ">What is C-Hub</div>
			<div class="menu_cont_title clickable_color" @click="closeAllProject()"  onclick="window.location.hash='mission'; ">Mission</div>
			<div class="menu_cont_title clickable_color" @click="showAllProject()"  onclick="window.location.hash='project'; ">Project</div>
			<div class="menu_cont_title clickable_color" @click="closeAllProject()"  onclick="window.location.hash='space'; ">Space</div>
			<div class="menu_cont_title clickable_color" @click="closeAllProject()"  onclick="window.location.hash='chuber'; ">C-Huber</div>
			<div class="menu_cont_title clickable_color" @click="closeAllProject()"  onclick="window.location.hash='contact'; ">Contact</div>
		</div>
	</div>

	<!-- Scroll Elements -->
	<img class="scroll_element items_1" src="/public/img/scroll_items_1.svg" data-enllax-ratio=".3" data-enllax-type="foreground">
	<img class="scroll_element items_2" src="/public/img/scroll_items_2.svg" data-enllax-ratio=".3" data-enllax-type="foreground">
	<img class="scroll_element items_3" src="/public/img/scroll_items_3.svg" data-enllax-ratio=".3" data-enllax-type="foreground">
	<img class="scroll_element items_4" src="/public/img/scroll_items_4.svg" data-enllax-ratio=".3" data-enllax-type="foreground">


	<!-- Page 1: Home -->
	<div class="fullpage bg_orange" id="home">
		<div class="fullpage_element line_1"></div>
		<div class="fullpage_element items_1 zooming"></div>
		<div class="logo_home" data-aos="fade-in" data-aos-delay="250"></div>
	</div>

	<!-- Page 2: Banner -->
	<div class="fullpage bg_grey" id="banner">	
		<div class="fullpage_element line_2"></div>
		<div class="banner_board">
			<a v-for="(banner, index) in bannerList" class="banner_item clickable" v-bind:class="{'on': index == nowShow}" target="_blank" :href="banner.url">
				<picture>
					<source v-bind:srcset="'/uploads/advertisement/' + banner.id + '/imageMobile.png'" media="(max-width: 1050px)">
					<img class="banner_item_pic" v-bind:src="'/uploads/advertisement/' + banner.id + '/image.png'">
				</picture>
				<div class="banner_item_text">
					<p class="banner_item_text_title" style="white-space: pre-wrap;">{{banner.name}}</p>
					<div class="line_section line_banner"></div>
					<!-- <p class="banner_item_text_cont"></p>		 -->
				</div>
			</a>
			<!-- <div class="banner_item banner_2 clickable">
				<picture>
					<source srcset="/public/img/ex_banner_m_2.png" media="(max-width: 1050px)">
					<img class="banner_item_pic" src="/public/img/ex_banner_2.png">
				</picture>
				<div class="banner_item_text">
					<p class="banner_item_text_title">MovISeee</p>
					<div class="line_section line_banner"></div>
					<p class="banner_item_text_cont">C-Hub is a creative space came about from the interconnection among Creativity, Human, Urban, and Building Environment.</p>		
				</div>
			</div> -->
		</div>
		<div class="banner_control">
			<div v-for="(banner, index) in bannerList" class="dots clickable" @click="bannerSwitch(index)"></div>	
			<div class="icon_go_prev clickable"  @click="bannerSwitch(nowShow - 1)"></div>
			<div class="icon_go_next clickable"  @click="bannerSwitch(nowShow + 1)"></div>
		</div>
		<div class="icon_page_down"></div>
	</div>

	<!-- Page 5: Project Preview -->
	<div class="fullpage bg_dark_grey" id="project">	
		<div class="project_title">
			<p class="project_title_text" data-aos="fade-in">Project</p>
			<div class="line_section line_title"></div>
		</div>
		<div class="project_browser swiper-container" data-aos="fade-up" data-aos-duration="1500">
			<div class="swiper-wrapper">
				<div class="swiper-slide" v-for="(project, index) in previewList" @click="showProject(project.id)">
					<div class="project_item">
						<img class="project_item_pic" v-bind:src="'/uploads/project/' + project.id + '/coverpreview/coverpreview.jpg'">
						<div class="project_item_title_adjust">
							<p class="project_item_title">{{project.name}}</p>
						</div>
						<p class="project_item_detail">{{project.subtitle}}</p>
						<p class="project_item_date">{{project.duration}}</p>
					</div>
				</div>
				<!-- <div class="swiper-slide">
					<div class="project_item open_project_main switch_to_item">
						<img class="project_item_pic" src="/public/img/ex_project_2.png">
						<p class="project_item_title">微課程：整體美學營造</p>
						<p class="project_item_detail">客製你的專屬妝容與美感</p>
						<p class="project_item_date">01.13－02.01 / 2017</p>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="project_item open_project_main switch_to_item">
						<img class="project_item_pic" src="/public/img/ex_project_3.png">
						<p class="project_item_title">微課程：整體美學營造</p>
						<p class="project_item_detail">客製你的專屬妝容與美感</p>
						<p class="project_item_date">01.13－02.01 / 2017</p>
					</div>
				</div> -->
			</div>
			<div class="project_dots swiper-pagination"></div>
		</div>
		<div class="button style_1" @click="showAllProject()">View All</div>
	</div>

	<!-- Page 3: Intro -->
	<div id="intro">
		<div class="page_brief">
			<p class="page_brief_title" data-aos="fade-in">What is C-Hub?</p>
			<div class="line_section line_block"></div>
			<p class="page_brief_cont" data-aos="fade-in">
			有沒有一種可能，是大學、產業、城市共同實踐教育理想？<br><br>
 			
			2015年的春天，在國立成功大學規劃與設計學院，C-Hub成大創意基地展開了有別以往的校園創新計畫。透過師生共創，激盪出更多想像，並結合教學實作與產業能量，希望讓大學教育有些改變。<br><br>

			C-Hub串聯起大學、產業與城市之間的美好關係，構築完整的教育、育成與實踐流程，讓企業與校園彼此交融滲透，挖掘出新創團隊的無窮潛力，以Design Empowered為信念，結合設計的創新能量與產業互助，齊同交織夢想，踏上共創之路。<br><br>

			在C-Hub，我們試圖打破在制度上的行政藩籬，透過育成及資源媒合，提供給產業的不是人力而是「人才」──也許是跨域間游刃有餘的專業經理人、天馬行空卻心思細膩的設計師，或是擁有探險精神的創業家，各式各樣身分都將被實現。我們深信，「跨領域創新」不應只是口號，而是自在地實踐於生活裡。<br><br>

			一起創造意料之外的故事吧！這裡是C-Hub，你、我與我們的C-Hub。</p>
		</div>
		<!-- <div class="intro_pic"></div> -->
		<div class="intro_detail bg_dark_grey">
			<div class="fullpage_element line_1 opac_3"></div>			
			<p class="intro_detail_cont" data-aos="fade-in">
				Is it possible for educational goals to be achieved by cooperation between a university, industry and the city?<br><br>
				In the spring of 2015, an innovative program began at NCKU, unlike anything seen before. Through a co-creation process between students and teachers, we were able to begin a wealth of inspirational new projects. By combining practical methods with the strength of Taiwanese industry, we were able to create something that hadn’t existed previously in our university.
				We are continuing the process of combining the university with industry and the city. Our goal is to create a complete education and incubation process, and to allow the university and external enterprises to communicate with each other. Our aim is for all parties involved to gain maximum results from this cooperation. C-Hub works according to the concept of “Design Empowered”.<br><br>

				In C-Hub, we try to break the barrier from the regular system. We no longer want to provide just human resources but talents. We can train a project manager with a varied skill set, a uniquely creative designer or an adventurous entrepreneur. These kinds of people, among many others, will be trained in C-Hub. We believe strongly that multidisciplinary talent is no longer a fantasy; it will be applied in real life.<br><br>

				So let’s create some stories. This is C-Hub, you and me. This is our C-Hub.
			</p>
		</div>
	</div>

	<!-- Page 4: Mission -->
	<div id="mission">
		<div class="page_brief">
			<p class="page_brief_title" data-aos="fade-in">Mission</p>
			<div class="line_section line_block"></div>
			<p class="page_brief_cont" data-aos="fade-in">
				改變目前的教育環境，培養學生自主學習的精神。透過在C-Hub成大創意基交換點子與想法，進而實作、體驗C-Hub內的設計經典，以連結產業資源，進一步帶到城市中實踐。
				<br><br>
				C-Hub’s mission is to change the current education environment, and to cultivate a spirit of self-learning for our students. By exchanging ideas and thoughts in the creative factory, and thereby prototyping, students can develop their design skills in C-Hub, and connect these with resources from industry, before ultimately bringing them into practice in the city.
			</p>
		</div>
		<div class="mission_detail">
			<div class="fullpage_element line_3 opac_8"></div>
			<div class="mission_list" data-aos="fade-up" data-aos-duration="2000">
				<div class="mission_item">
					<div class="mission_item_icon think"></div>
					<div class="mission_item_brief">
						<p class="mission_item_brief_title">Thinking</p>
						<p class="mission_item_brief_cont">激發創意與創新想法並互相交流</p>
					</div>				
					<div class="mission_item_detail">
						<p class="mission_item_detail_cont">Communicate with creative ideas and inspired creation.</p>
					</div>
				</div>
				<div class="mission_item">
					<div class="mission_item_icon proto"></div>
					<div class="mission_item_brief">
						<p class="mission_item_brief_title">Prototyping</p>
						<p class="mission_item_brief_cont">以設計原型進行創新想法的第一步實踐</p>
					</div>				
					<div class="mission_item_detail">
						<p class="mission_item_detail_cont">Through the use of industrial equipment, create real products from a simple written concept, or a graphic design.</p>
					</div>
				</div>
				<div class="mission_item">
					<div class="mission_item_icon exper"></div>
					<div class="mission_item_brief">
						<p class="mission_item_brief_title">Experiencing</p>
						<p class="mission_item_brief_cont">從設計想法到產品製造的多階段體驗</p>
					</div>				
					<div class="mission_item_detail">
						<p class="mission_item_detail_cont">Carry out interactive experiencing in the co-creating space, and with assistance from software and hardware resources, establish a practical learning module.</p>
					</div>
				</div>
				<div class="mission_item">
					<div class="mission_item_icon entre"></div>
					<div class="mission_item_brief">
						<p class="mission_item_brief_title">Entrepreneurship</p>
						<p class="mission_item_brief_cont">連結相同理念的創業夥伴與提供育成資源</p>
					</div>				
					<div class="mission_item_detail">
						<p class="mission_item_detail_cont">Based on the cultivating of a professional background on the campus, and through the assistance of cooperation partners, with the purpose of developing free enterprise , provide entrepreneurship talents with complete incubation resources.</p>
					</div>
				</div>
				<div class="mission_item">
					<div class="mission_item_icon urban"></div>
					<div class="mission_item_brief">
						<p class="mission_item_brief_title">Urban Realization</p>
						<p class="mission_item_brief_cont">串聯產業資源，並帶到城市中實踐</p>
					</div>				
					<div class="mission_item_detail">
						<p class="mission_item_detail_cont">Connecting abundant resources from industry and human capital, and bringing them into the city.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Page 6: Space -->
	<div class="fullpage bg_mid_grey" id="space">
		<div class="fullpage_element space"></div>
		<div class="space_intro">
			<div class="space_intro_title">
				<p class="space_intro_title_text" data-aos="fade-in">Floor Guide</p>
				<div class="line_section line_space"></div>
			</div>
			<div class="space_intro_building"></div>
		</div>
		<div class="space_detail">
			<div class="button style_2" data-aos="fade-in" data-aos-offset="500" onclick="location.href='space';"> Booking<br>System</div>
			<div class="space_detail_floors" data-aos="fade-left">
				<div class="floor_detail">
					<div class="floor_detail_num">5F</div>
					<div class="floor_detail_line"></div>
					<div class="floor_detail_cont">Incubator Studio</div>
				</div>
				<div class="floor_detail">
					<div class="floor_detail_num">4F</div>
					<div class="floor_detail_line"></div>
					<div class="floor_detail_cont">Archive Center</div>
				</div>
				<div class="floor_detail">
					<div class="floor_detail_num">3F</div>
					<div class="floor_detail_line"></div>
					<div class="floor_detail_cont">Gallery</div>
				</div>
				<div class="floor_detail">
					<div class="floor_detail_num">2F</div>
					<div class="floor_detail_line"></div>
					<div class="floor_detail_cont">C-Hub Café</div>
				</div>
				<div class="floor_detail">
					<div class="floor_detail_num">1F</div>
					<div class="floor_detail_line"></div>
					<div class="floor_detail_cont">Creativity Workshop</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Page 7: C-Huber -->
	<div class="fullpage bg_light" id="chuber">
		<div class="page_brief chuber bg_orange">
			<div class="fullpage_element items_2"></div>
			<p class="page_brief_title chuber" data-aos="fade-in" data-aos-offset="200">We, working at C-Hub</p>
			<div class="line_section line_chuber"></div>
		</div>
		<div class="chuber_browser swiper-container" data-aos="fade-in">
			<div class="swiper-wrapper">
				<div class="swiper-slide" v-for="group in chuberList">
					<div class="chuber_item">
						<div class="chuber_staff" v-for="chuber in group">
							<img class="chuber_staff_pic" v-bind:src="'/uploads/chuber/' + chuber.id + '/image.png'">
							<p class="chuber_staff_name">{{chuber.name}}</p>
							<p class="chuber_staff_job">{{chuber.position}}</p>
						</div>
					</div>
				</div>
			</div>
			<div class="chuber_dots swiper-pagination"></div>
		</div>
	</div>

	<!-- Page 8: Contact -->
	<div class="contact_page bg_orange" id="contact">
		<div class="fullpage_element items_3"></div>
		<div class="contact_title">
			<p class="contact_title_text" data-aos="fade-in">Contact</p>
			<div class="line_section line_contact"></div>
		</div>
		<div class="contact_cont">
			<div class="contact_text">
				<p class="contact_text_title" data-aos="fade-in" data-aos-offset="250" data-aos-duration="1500">How to collaborate with C-Hub</p>
				<p class="contact_text_detail" data-aos="fade-in" data-aos-offset="250" data-aos-duration="1500">
					若您認同我們的理念，我們誠摯地歡迎您，藉由實際的行動支持來參與 C-Hub 的教育創新，讓 C-Hub 成為社會創新計畫的實現基地，並促使我們讓大學教育更加多元及美好。
					<br><br>
					C-Hub was founded through the cooperation of several entrepreneurs, professors, students, politicians, and wider society. We genuinely invite you and other entrepreneurs to invest more resources, to maintain our current growth and keep improving our organization.
					<br>
					<br>企業合作專線
					<br>電話：+886-912-396-972
					<br>Email：chub.business2018@gmail.com
					<br>Line＠：<a target="blank" href="https://line.me/R/ti/p/%40tjr0289q" style="color: white;">點我</a>

				</p>
			</div>
			<div class="contact_link">
				<div class="button style_3" onclick="window.open('https://www.facebook.com/chub.tainan/?ref=br_rs', '_blank');">C-Hub FB</div>
				<div class="button style_3" onclick="window.open('https://www.facebook.com/chub.cafe/?ref=br_rs', '_blank');">C-Hub Café FB</div>
				<!-- <div class="button style_3" onclick="window.open('https://web.ncku.edu.tw/index.php', '_blank');">C-Hub Instagram</div> -->
			</div>
		</div>
	</div>

	<!-- Page 9: Footer -->
	<div class="footer bg_dark_grey" id="footer">
		<div class="footer_logo"></div>
		<div class="footer_cont">
			<div class="footer_info">
				<div class="footer_info_icon addr"></div>
				<!-- <p class="footer_info_detail">
					台南市東區大學路1號<span class="text_orange"> / </span><span class="text_small">
					國立成功大學光復校區 小東路與前鋒路交叉口</span>
				</p> -->
				<p class="footer_info_detail">
					No.1, University Rd., East Dist., Tainan City 701, Taiwan (R.O.C)
				</p>
			</div>
			<div class="footer_info">
				<div class="footer_info_icon tele"></div>
				<!-- <p class="footer_info_detail">
					06-2757575<span class="text_orange"> ext 50239 / </span>
					06-2360426<span class="text_orange"> / </span>
					06-2004230
				</p> -->
				<p class="footer_info_detail">
					T：＋886-6-2757575 ext. 50239, +886-6-2360426, +886-6-2004230
				</p>
			</div>
			<div class="footer_info">
				<div class="footer_info_icon mail"></div>
				<p class="footer_info_detail">
					chub.ncku2015@gmail.com
				</p>
			</div>
		</div>
	</div>

	<!-- Page 10: Project Full -->
	<div class="project_main" v-bind:class="{'on': pageShow}" id="project_main">
		<div class="icon_logo clickable" @click="closeAllProject()" v-bind:class="{'now': 'list' == showType}"></div>
		<div class="icon_logo back clickable" @click="showAllProject()" v-bind:class="{'now': 'item' == showType}"></div>
		<div class="project_main_title bg_orange tiny">
			<p class="project_main_title_text">Project</p>
			<div class="line_section line_project_main"></div>
		</div>
		<div class="project_main_area">
			<!-- Page 10-1: Project List -->
			<div class="project_main_cont project_list_full" v-bind:class="{'now': 'list' == showType}">
				<div class="project_item_in_list" v-for="(project, index) in projectList" @click="showProject(project.id)">
					<img class="project_item_in_list_pic" v-bind:src="'/uploads/project/' + project.id + '/coverpreview/coverpreview.jpg'">
					<p class="project_item_in_list_title">{{project.name}}</p>
					<div class="line_section line_project_item_in_list"></div>
					<p class="project_item_in_list_detail">{{project.subtitle}}</p>
					<p class="project_item_in_list_date">{{project.duration}}</p>
				</div>
			</div>
			<!-- Page 10-2: Project Item -->
			<div class="project_main_cont project_item_full" v-bind:class="{'now': 'item' == showType}">
				<img class="project_item_full_pic" v-bind:src="'/uploads/project/' + nowProject.id + '/cover/cover.jpg'">
				<div class="project_item_full_brief">
					<p class="project_item_full_brief_title">{{nowProject.name}}</p>
					<p class="project_item_full_brief_cont">{{nowProject.subtitle}}</p>
					<div class="line_section line_project_item_full"></div>
				</div>
				<div class="project_item_full_cont_text">
					<div class="project_item_full_cont_text_item">
						<p class="project_item_full_cont_text_item_title">Duration</p>
						<p class="project_item_full_cont_text_item_detail">{{nowProject.duration}}</p>
					</div>
					<div class="project_item_full_cont_text_item">
						<p class="project_item_full_cont_text_item_title">Introduction</p>
						<p class="project_item_full_cont_text_item_detail" style="white-space: pre-wrap;">{{nowProject.introduction}}</p>
					</div>
				</div>
				<div class="project_item_full_cont_media">
					<div v-show='nowProject.url !=""' class="project_item_full_cont_media_video">
						<p class="project_item_full_cont_media_item_title">Video</p>
						<div class="project_item_full_cont_media_video_cont">
							<iframe v-bind:src="nowProject.url" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
						</div>
					</div>
					<div class="project_item_full_cont_media_gallery">
						<p class="project_item_full_cont_media_item_title">Gallery</p>
						<div class="project_item_full_cont_media_gallery_cont my-gallery">
							<figure v-for="(img, index) in nowGallery">
								<a v-bind:href="'/uploads/project/' + img.project_id + '/gallery/' + img.name" itemprop="contentUrl">
									<img v-bind:src="'/uploads/project/' + nowGalleryPreview[index].project_id + '/gallerypreview/' + nowGalleryPreview[index].name" itemprop="thumbnail">
								</a>
							</figure>
						</div>
					</div>
					<!-- <a class="project_item_full_cont_media_facebook clickable"></a> -->
				</div>
			</div>
			<div class="footer bg_dark_grey">
				<div class="footer_logo"></div>
				<div class="footer_cont">
					<div class="footer_info">
						<div class="footer_info_icon addr"></div>
						<p class="footer_info_detail">
							台南市東區大學路1號<span class="text_orange"> / </span><span class="text_small">
							國立成功大學光復校區 小東路與前鋒路交叉口</span>
						</p>
					</div>
					<div class="footer_info">
						<div class="footer_info_icon tele"></div>
						<p class="footer_info_detail">
							06-2757575<span class="text_orange"> ext 50239 / </span>
							06-2360426<span class="text_orange"> / </span>
							06-2004230
						</p>
					</div>
					<div class="footer_info">
						<div class="footer_info_icon mail"></div>
						<p class="footer_info_detail">
							chub.ncku@gmail.com
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>



	<!-- PhotoSwipe -->
	<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="pswp__bg"></div>
		<div class="pswp__scroll-wrap">
			<div class="pswp__container">
				<div class="pswp__item"></div>
				<div class="pswp__item"></div>
				<div class="pswp__item"></div>
			</div>
			<div class="pswp__ui pswp__ui--hidden">
				<div class="pswp__top-bar">
					<div class="pswp__counter"></div>
					<button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
					<button class="pswp__button pswp__button--share" title="Share"></button>
					<button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
					<button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
					<div class="pswp__preloader">
						<div class="pswp__preloader__icn">
							<div class="pswp__preloader__cut">
								<div class="pswp__preloader__donut"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
					<div class="pswp__share-tooltip"></div>
				</div>
				<button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
				</button>
				<button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
				</button>
				<div class="pswp__caption">
					<div class="pswp__caption__center"></div>
				</div>
			</div>
		</div>
	</div>



	<!-- Javascript -->
	<script src="/public/js/jquery-3.1.1.min.js"></script>
	<script src="/public/js/jquery-scrollto.js"></script>
	<script src="/public/js/picturefill.min.js"></script>
	<script src="/public/js/swiper.min.js"></script>
	<script src="/public/js/swiper_control.js"></script>
	<script src="/public/js/photoswipe.min.js"></script>
	<script src="/public/js/photoswipe-ui-default.min.js"></script> 
	<script src="/public/js/photoswipe_control.js"></script>
	<script src="/public/js/jquery.waypoints.min.js"></script>
	<script src="/public/js/jquery.enllax.min.js"></script>	
	<script src="/public/js/aos.js"></script>
	<script src="/public/js/main.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.min.js"></script>
	<script src="/public/js/landingPage.js"></script>
</body>
</html>

