<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" id="viewport" name="viewport">
	<title>C-Hub｜成大創意基地</title>
	<link rel="stylesheet" href="/public/css/reset.css">
	<link rel="stylesheet" href="/public/css/style.css">
	<link rel="stylesheet" href="/public/css/swiper.min.css">
</head>

<body>

	<!-- Icons -->
	<div class="icon_menu clickable_opac"></div>
	<div class="icon_logo clickable_opac"></div>

	<!-- Menu -->
	<div class="menu">
		<div class="menu_cont">
			<div class="menu_cont_title clickable_color on">Home</div>
			<div class="menu_cont_title clickable_color">What is C-Hub</div>
			<div class="menu_cont_title clickable_color">Mission</div>
			<div class="menu_cont_title clickable_color">Project</div>
			<div class="menu_cont_title clickable_color">Space</div>
			<div class="menu_cont_title clickable_color">C-Huber</div>
			<div class="menu_cont_title clickable_color">Contact</div>
		</div>
	</div>

	<!-- Page1: Home -->
	<div class="fullpage bg_orange" id="home">
		<div class="fullpage_element line_1"></div>
		<div class="fullpage_element items_1"></div>
		<div class="logo_home"></div>
	</div>

	<!-- Page2: Banner -->
	<div class="fullpage bg_grey" id="banner">	
		<div class="fullpage_element line_2"></div>
		<div class="banner_board">
			<div class="banner_item banner_1 clickable_brns on">
				<picture>
					<source srcset="img/ex_banner_m_1.png" media="(max-width: 1050px)">
					<img class="banner_item_pic" src="img/ex_banner_1.png">
				</picture>
				<div class="banner_item_text">
					<p class="banner_item_text_title">MovISee</p>
					<div class="line_section banner"></div>
					<p class="banner_item_text_cont">C-Hub is a creative space came about from the interconnection among Creativity, Human, Urban, and Building Environment.</p>		
				</div>
			</div>
			<div class="banner_item banner_2 clickable_brns">
				<picture>
					<source srcset="img/ex_banner_m_2.png" media="(max-width: 1050px)">
					<img class="banner_item_pic" src="img/ex_banner_2.png">
				</picture>
				<div class="banner_item_text">
					<p class="banner_item_text_title">MovISeee</p>
					<div class="line_section banner"></div>
					<p class="banner_item_text_cont">C-Hub is a creative space came about from the interconnection among Creativity, Human, Urban, and Building Environment.</p>		
				</div>
			</div>
			<div class="banner_item banner_3 clickable_brns">
				<picture class="banner_item_pic">
					<source srcset="img/ex_banner_m_3.png" media="(max-width: 1050px)">
					<img class="banner_item_pic" src="img/ex_banner_3.png">
				</picture>
				<div class="banner_item_text">
					<p class="banner_item_text_title">MovISeeeeeeeeeeeee</p>
					<div class="line_section banner"></div>
					<p class="banner_item_text_cont">C-Hub is a creative space came about from the interconnection among Creativity, Human, Urban, and Building Environment.C-Hub is a creative space came about from the interconnection among Creativity, Human, Urban, and Building Environment.C-Hub is a creative space came about from the interconnection among Creativity, Human, Urban, and Building Environment.C-Hub is a creative space came about from the interconnection among Creativity, Human, Urban, and Building Environment.C-Hub is a creative space came about from the interconnection among Creativity, Human, Urban, and Building Environment.C-Hub is a creative space came about from the interconnection among Creativity, Human, Urban, and Building Environment.C-Hub is a creative space came about from the interconnection among Creativity, Human, Urban, and Building Environment.C-Hub is a creative space came about from the interconnection among Creativity, Human, Urban, and Building Environment.C-Hub is a creative space came about from the interconnection among Creativity, Human, Urban, and Building Environment.</p>		
				</div>
			</div>
		</div>
		<div class="banner_control">
			<div class="dots banner_1 on"></div>
			<div class="dots banner_2"></div>	
			<div class="dots banner_3"></div>	
			<div class="icon_go_prev clickable_opac"></div>
			<div class="icon_go_next clickable_opac"></div>
		</div>
		<div class="icon_page_down"></div>
	</div>

	<!-- Page3: Intro -->
	<div id="intro">
		<div class="page_brief">
			<p class="page_brief_title">What is C-Hub?</p>
			<div class="line_section block"></div>
			<p class="page_brief_cont">2014 年初，成功大學規劃與設計學院，啟動為期三年的「無邊界校園計畫」，逐步打造出略具雛形的 C-Hub 成大創意基地，作為第一年的起頭。為進一步建立完整教育、育成與實踐流程，促成企業與校園雙邊滲透，找尋新創團隊實踐契機，透過第一年所舉辦展覽與論壇兩大活動，進行大學、產業、城市之對話與交流，俾能集思廣益，募集企業與城市夥伴打造未來設計、使用、需求共同交流的平台。</p>
		</div>
		<div class="intro_pic"></div>
		<div class="intro_detail bg_dark_grey">
			<div class="fullpage_element line_1 opac_3"></div>			
			<p class="intro_detail_cont">
				At the beginning of 2014, the College of Planning and Design at National Cheng Kung University initiated the “Borderless Campus Project”.
				<br><br>
				C-Hub was built and became the first year’s achievement of this project. This was managed through an excellent co-creation process between professors and students, blending the energy of research and development, as well as incubation in the campus. In the next phase, two major events will be held during the anniversary week of NCKU to further establish the process of education, incubation and practice. Through these events we aim to promote bilateral immersion between industry and the campus, to find opportunities for innovative teams to practice and showcase their skills. With the conversation and exchange of information between the university, industry and a city collective, wisdom can be drawn out and useful ideas can be established.	
			</p>
		</div>
	</div>

	<!-- Page4: Mission -->
	<div id="mission">
		<div class="page_brief">
			<p class="page_brief_title">Mission</p>
			<div class="line_section block"></div>
			<p class="page_brief_cont">
				改變目前的教育環境，培養學生自主學習的精神。透過在C-Hub成大創意基交換點子與想法，進而實作、體驗C-Hub內的設計經典，以連結產業資源，進一步帶到城市中實踐。
				<br><br>
				C-Hub’s mission is to change the current education environment, and to cultivate a spirit of self-learning for our students. By exchanging ideas and thoughts in the creative factory, and thereby prototyping, students can develop their design skills in C-Hub, and connect these with resources from industry, before ultimately bringing them into practice in the city.
			</p>
		</div>
		<div class="mission_detail">
			<div class="fullpage_element line_3 opac_8"></div>
			<div class="mission_item">
				<div class="mission_item_icon think"></div>
				<div class="mission_item_brief">
					<p class="mission_item_brief_title">Thinking</p>
					<p class="mission_item_brief_cont">激發創意與創新想法並互相交流</p>
				</div>				
				<div class="mission_item_detail">
					<p class="mission_item_detail_cont">Communicate with creative ideas and inspired creation.</p>
				</div>
			</div>
			<div class="mission_item">
				<div class="mission_item_icon proto"></div>
				<div class="mission_item_brief">
					<p class="mission_item_brief_title">Prototyping</p>
					<p class="mission_item_brief_cont">以設計原型進行創新想法的第一步實踐</p>
				</div>				
				<div class="mission_item_detail">
					<p class="mission_item_detail_cont">Through the use of industrial equipment, create real products from a simple written concept, or a graphic design.</p>
				</div>
			</div>
			<div class="mission_item">
				<div class="mission_item_icon exper"></div>
				<div class="mission_item_brief">
					<p class="mission_item_brief_title">Experiencing</p>
					<p class="mission_item_brief_cont">從設計想法到產品製造的多階段體驗</p>
				</div>				
				<div class="mission_item_detail">
					<p class="mission_item_detail_cont">Carry out interactive experiencing in the co-creating space, and with assistance from software and hardware resources, establish a practical learning module.</p>
				</div>
			</div>
			<div class="mission_item">
				<div class="mission_item_icon entre"></div>
				<div class="mission_item_brief">
					<p class="mission_item_brief_title">Entrepreneurship</p>
					<p class="mission_item_brief_cont">連結相同理念的創業夥伴與提供育成資源</p>
				</div>				
				<div class="mission_item_detail">
					<p class="mission_item_detail_cont">Based on the cultivating of a professional background on the campus, and through the assistance of cooperation partners, with the purpose of developing free enterprise , provide entrepreneurship talents with complete incubation resources.</p>
				</div>
			</div>
			<div class="mission_item">
				<div class="mission_item_icon urban"></div>
				<div class="mission_item_brief">
					<p class="mission_item_brief_title">Urban Realization</p>
					<p class="mission_item_brief_cont">串聯產業資源，並帶到城市中實踐</p>
				</div>				
				<div class="mission_item_detail">
					<p class="mission_item_detail_cont">Connecting abundant resources from industry and human capital, and bringing them into the city.</p>
				</div>
			</div>
		</div>
	</div>

	<!-- Page5: Project -->
	<div class="fullpage bg_dark_grey" id="project">	
		<div class="project_title">
			<p class="project_title_text">Project</p>
			<div class="line_section title"></div>
		</div>
		<div class="project_browser swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<div class="project_item">
						<img class="project_item_pic" src="img/ex_project_1.png">
						<p class="project_item_title">微課程：整體美學營造</p>
						<p class="project_item_detail">客製你的專屬妝容與美感</p>
						<p class="project_item_date">01.13－02.01 / 2017</p>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="project_item">
						<img class="project_item_pic" src="img/ex_project_2.png">
						<p class="project_item_title">微課程：整體美學營造</p>
						<p class="project_item_detail">客製你的專屬妝容與美感</p>
						<p class="project_item_date">01.13－02.01 / 2017</p>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="project_item">
						<img class="project_item_pic" src="img/ex_project_3.png">
						<p class="project_item_title">微課程：整體美學營造</p>
						<p class="project_item_detail">客製你的專屬妝容與美感</p>
						<p class="project_item_date">01.13－02.01 / 2017</p>
					</div>
				</div>
			</div>
			<div class="project_dots swiper-pagination"></div>
		</div>
		<div class="button style_1">View All</div>
	</div>

	<!-- Page6: Space -->
	<div class="fullpage bg_mid_grey" id="space">
		<div class="fullpage_element space"></div>
		<div class="space_intro">
			<div class="space_intro_title">
				<p class="space_intro_title_text">Floor Guide</p>
				<div class="line_section space"></div>
			</div>
			<div class="space_intro_building"></div>
		</div>
		<div class="space_detail">
			<div class="button style_2">> Booking<br>System</div>
			<div class="space_detail_floors">
				<div class="floor_detail">
					<div class="floor_detail_num">5F</div>
					<div class="floor_detail_line"></div>
					<div class="floor_detail_cont">Incubator Studio</div>
				</div>
				<div class="floor_detail">
					<div class="floor_detail_num">4F</div>
					<div class="floor_detail_line"></div>
					<div class="floor_detail_cont">Archive Center</div>
				</div>
				<div class="floor_detail">
					<div class="floor_detail_num">3F</div>
					<div class="floor_detail_line"></div>
					<div class="floor_detail_cont">Gallery</div>
				</div>
				<div class="floor_detail">
					<div class="floor_detail_num">2F</div>
					<div class="floor_detail_line"></div>
					<div class="floor_detail_cont">C-Hub Café</div>
				</div>
				<div class="floor_detail">
					<div class="floor_detail_num">1F</div>
					<div class="floor_detail_line"></div>
					<div class="floor_detail_cont">Creativity Workshop</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Page7: C-Huber -->
	<div class="fullpage bg_light" id="chuber">
		<div class="page_brief chuber bg_orange">
			<div class="fullpage_element items_2"></div>
			<p class="page_brief_title chuber">C-Huber</p>
			<div class="line_section chuber"></div>
		</div>
		<div class="chuber_browser swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<div class="chuber_item">
						<div class="chub_staff">
							<img class="chub_staff_pic" src="img/ex_handsome_boy.png">
							<p class="chub_staff_name">林耿弘</p>
							<p class="chub_staff_job">魔法師</p>
						</div>
						<div class="chub_staff"><img class="chub_staff_pic" src="img/ex_handsome_boy.png"><p class="chub_staff_name">林耿弘</p><p class="chub_staff_job">魔法師</p></div>
						<div class="chub_staff"><img class="chub_staff_pic" src="img/ex_handsome_boy.png"><p class="chub_staff_name">林耿弘</p><p class="chub_staff_job">魔法師</p></div>
						<div class="chub_staff"><img class="chub_staff_pic" src="img/ex_handsome_boy.png"><p class="chub_staff_name">林耿弘</p><p class="chub_staff_job">魔法師</p></div>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="chuber_item">
						<div class="chub_staff"><img class="chub_staff_pic" src="img/ex_handsome_boy.png"><p class="chub_staff_name">林耿弘</p><p class="chub_staff_job">魔法師</p></div>
						<div class="chub_staff"><img class="chub_staff_pic" src="img/ex_handsome_boy.png"><p class="chub_staff_name">林耿弘</p><p class="chub_staff_job">魔法師</p></div>
						<div class="chub_staff"><img class="chub_staff_pic" src="img/ex_handsome_boy.png"><p class="chub_staff_name">林耿弘</p><p class="chub_staff_job">魔法師</p></div>
						<div class="chub_staff"><img class="chub_staff_pic" src="img/ex_handsome_boy.png"><p class="chub_staff_name">林耿弘</p><p class="chub_staff_job">魔法師</p></div>	
					</div>
				</div>
				<div class="swiper-slide">
					<div class="chuber_item">
						<div class="chub_staff"><img class="chub_staff_pic" src="img/ex_handsome_boy.png"><p class="chub_staff_name">林耿弘</p><p class="chub_staff_job">魔法師</p></div>
						<div class="chub_staff"><img class="chub_staff_pic" src="img/ex_handsome_boy.png"><p class="chub_staff_name">林耿弘</p><p class="chub_staff_job">魔法師</p></div>
						<div class="chub_staff"><img class="chub_staff_pic" src="img/ex_handsome_boy.png"><p class="chub_staff_name">林耿弘</p><p class="chub_staff_job">魔法師</p></div>
						<div class="chub_staff"><img class="chub_staff_pic" src="img/ex_handsome_boy.png"><p class="chub_staff_name">林耿弘</p><p class="chub_staff_job">魔法師</p></div>	
					</div>
				</div>
				<div class="swiper-slide">
					<div class="chuber_item">
						<div class="chub_staff"><img class="chub_staff_pic" src="img/ex_handsome_boy.png"><p class="chub_staff_name">林耿弘</p><p class="chub_staff_job">魔法師</p></div>
						<div class="chub_staff"><img class="chub_staff_pic" src="img/ex_handsome_boy.png"><p class="chub_staff_name">林耿弘</p><p class="chub_staff_job">魔法師</p></div>
						<div class="chub_staff"><img class="chub_staff_pic" src="img/ex_handsome_boy.png"><p class="chub_staff_name">林耿弘</p><p class="chub_staff_job">魔法師</p></div>
						<div class="chub_staff"><img class="chub_staff_pic" src="img/ex_handsome_boy.png"><p class="chub_staff_name">林耿弘</p><p class="chub_staff_job">魔法師</p></div>	
					</div>
				</div>
			</div>
			<div class="chuber_dots swiper-pagination"></div>
		</div>
	</div>

	<!-- Page8: Contact -->
	<div class="fullpage bg_orange" id="contact">
		<div class="fullpage_element items_3"></div>
		<div class="contact_title">
			<p class="contact_title_text">Contact</p>
			<div class="line_section contact"></div>
		</div>
		<div class="contact_cont">
			<div class="contact_text">
				<p class="contact_text_title">How to collaborate with C-Hub</p>
				<p class="contact_text_detail">
					若您認同我們的理念，我們誠摯地歡迎您，藉由實際的行動支持來參與 C-Hub 的教育創新，讓 C-Hub 成為社會創新計畫的實現基地，並促使我們讓大學教育更加多元及美好。
					<br><br>
					C-Hub was founded through the cooperation of several entrepreneurs, professors, students, politicians, and wider society. We genuinely invite you and other entrepreneurs to invest more resources, to maintain our current growth and keep improving our organization.
				</p>
			</div>
			<div class="contact_link">
				<div class="button style_3">C-Hub FB</div>
				<div class="button style_3">C-Hub Café FB</div>
			</div>
		</div>
	</div>

	<!-- Page: Footer -->
	<div class="footer bg_dark_grey" id="footer">
		<div class="footer_logo"></div>
		<div class="footer_cont">
			<div class="footer_info">
				<div class="footer_info_icon addr"></div>
				<p class="footer_info_detail">
					台南市東區大學路1號<span class="text_orange"> / </span><span class="text_small">
					國立成功大學光復校區 小東路與前鋒路交叉口</span>
				</p>
			</div>
			<div class="footer_info">
				<div class="footer_info_icon tele"></div>
				<p class="footer_info_detail">
					06-2757575<span class="text_orange"> ext 50239 / </span>
					06-2360426<span class="text_orange"> / </span>
					06-2004230
				</p>
			</div>
			<div class="footer_info">
				<div class="footer_info_icon mail"></div>
				<p class="footer_info_detail">
					chub.ncku@gmail.com
				</p>
			</div>
		</div>
	</div>



	<!-- Javascript -->
	<script src="/public/js/jquery-3.1.1.min.js"></script>
	<script src="/public/js/jquery-scrollto.js"></script>
	<script src="/public/js/picturefill.min.js"></script>
	<script src="/public/js/swiper.min.js"></script>
	<script src="/public/js/main.js"></script>

</body>
</html>

