<div class="function_main" id="backend_people_list">
    <div class="function_header">
        <h1>人員列表</h1>
        <i class="big plus icon" name="people"></i>
    </div>
    <div class="function_content">
        <table class="ui selectable celled table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>E-mail</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>John</td>
                <td>Project Manager</td>
                <td>XXXXX@gmail.com</td>
            </tr>
            <tr>
                <td>Sam</td>
                <td>editor</td>
                <td>XXXXX@gmail.com</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>